program/texput.log
program/program_comp_nt.tex
program/program_comp_nt.out
program/program_comp_nt.log
program/program_comp_nt.blg
program/program_comp_nt.bbl
program/program_comp_nt.aux
case_studies/bsd_experiments/.ipynb_checkpoints/
case_studies/bsd_experiments/main.py
case_studies/verify_cnf/main.sage
